@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        body {
            margin: 0;
            padding: 0;
            background-repeat: no-repeat;
            background-size: cover;
            background: linear-gradient(120deg, #fcfaf6, #fcfaf6);            
            height: 100vh;
            overflow: hidden;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #333333;
            padding: 20px;
            position: sticky;
            top: 0;
            margin-bottom: 20px;
        }

        .logo {
            display: flex;
            width: 50px; /* Set the desired width for the logo */
            height: none; /* Set the desired height for the logo */
            border-radius: 50%; /* Make the logo round */
            margin-left: 1350px; /* Reduce margin-right to bring the logo closer to the heading */
            margin-top: 2px;
        }
   

        .logoback {
            display: flex;
            width: 50px; /* Set the desired width for the logo */
            height: none; /* Set the desired height for the logo */
            border-radius: 500%; /* Make the logo round */
            margin-right: 10px;
            margin-top: 7px;
            margin-left: 10px;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }

        h2 {
            font-size: 2.5em;
            color: #012225;
            text-align: center;
            margin-bottom: 30px;
        }

        h1 {
            font-size: 2.5em;
            color: #181717;
            text-align: right;
            margin-bottom: 0.5px;
        }

        .input-box {
            position: relative;
            margin-bottom: 20px;
        }

        .input-box input {
            width: 100%;
            height: 50px;
            background: #F9F9F9;
            border: 2px solid #E0E0E0;
            outline: none;
            border-radius: 25px;
            padding: 0 20px;
            font-size: 1.2em;
            color: #333333;
            transition: .3s;
        }

        .input-box input:focus,
        .input-box input:valid {
            border-color: #333333;
        }

        .input-box label {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            font-size: 1em;
            color: #666666;
            transition: .3s;
        }

        .input-box input:focus ~ label,
        .input-box input:valid ~ label {
            top: 10px;
            font-size: .8em;
            color: #999999;
        }


        .btn {
            width: 270px; /* Set the button width to 200 pixels */
            height: 60px;
            background: #fcfaf6;
            border: 2px solid #388087;
            outline: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 1.2em;
            color: #388087;
            font-weight: 600;
            transition: background .3s;
            margin-bottom: 10px;
        }

        .btn:hover {
            font-size: 1.2em;
            color: #ffffff;
            background: #388087;
        }